* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FBF8EF;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

img {
  max-width: 80%;
  height: auto;
}

/* NAVBAR COMPONENT */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container {
  max-width: 12%;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #161616;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* RESPONSIVENESS */
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1300px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .App {
    max-width: 95vw;
  }
}








